{{!-- HERO BANNER --}}
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="bg-lighten wide">
      
      <p class="title is-4"> Choose Category of Interest {{name}}</p>

        <div class="card">
          <div class="card-content">
            
            <div class="field">
              <a class="has-text-danger has-text-weight-bold" href="/gaming"> Gaming 🎮 </a>
            </div>
            
            <div class="field">
                <a class="has-text-danger has-text-weight-bold" href="/webdevelopment"> Web Development 💻 </a>
            </div>

            <div class="field">
                <a class="has-text-danger has-text-weight-bold" href="/music"> Music 🎵 </a>
            </div>

            <div class="field">
                <a class="has-text-danger has-text-weight-bold" href="/filmproduction"> Film Productions 🎬 </a>
            </div>

            <div class="field">
                <a class="has-text-danger has-text-weight-bold" href="/writing"> Writing 📓 </a>
            </div>
            
             <div class="field">
                <a class="has-text-danger has-text-weight-bold" href="/artdesign"> Arts & Design 📓 </a>
            </div>
            

          </div>
        </div>
    </div>
  </div>
</section>

  </div>
</div>


