{{!-- HERO BANNER --}}
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="bg-lighten wide">

      {{!-- HEADER --}}
      <p class="title is-4">My Dashboard</p>

    </div>
  </div>
</section>

<script src="/js/post.js"></script>